/* Hide most visible items */
[class*=guilds] {
    background: none !important;
}

[class*=chat] {
    background: none !important;
}

[aria-label="Channel header"] {
    background: none !important;
}

[class*=sidebar] {
    background: none !important;
}

[class*=privateChannels] {
    background: none !important;
}

[class*=container] {
    background: none !important;
}

[class*=scroller] {
    background: none !important;
}

.bg__12180 {
    background-image: var(--bg-image-url);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: var(--bg-opacity);
}
